/* Reset stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
main,
aside {
  h1,
  h2,
  h3,
  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}
header {
  grid-area: header;
  background-color: #f09b24;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

header .logo {
  background-color: whitesmoke;
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  align-items: center;
  font-size: 0.9rem;
}

header .logo::before {
  content: 'Logo';
  color: #393939;
  font-weight: 600;
}

nav {
  grid-area: nav;
  background-color: #3381b7;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 1rem;

  @media (min-width: 1024px) {
    justify-content: left;
  }
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  grid-area: main;
  padding: 1rem;
  color: #393939;
  background-color: #f4f4f4;
}

aside {
  grid-area: aside;
  background-color: #d5efdf;
  padding: 1rem;
}

aside div {
  display: flex;
  justify-content: center;
  font-size: 4.1rem;
  flex-wrap: wrap;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
  background-color: #34ad62;
  padding: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'aside'
    'footer';
  grid-template-columns: 1fr;

  @media (min-width: 1024px) {
    grid-template-areas:
      'header header'
      'nav nav'
      'main aside'
      'footer footer';
    grid-template-columns: 3fr 1fr;
    padding: 0 2rem 2rem 2rem;
  }
}
